.splitWrapper {
  display: grid;
  grid-template-columns: 4px 1fr 1fr 1fr 4px; /* Adds 4px space on left and right */
  margin: 1rem 0;
  padding-top: 1rem;
  /* border-top: solid rgb(187, 187, 187) 4px; */
  padding-bottom: 1rem;
  /* border-bottom: solid white 4px; */
  /* column-gap: .25rem; */
  box-sizing: border-box;
  overflow: visible;
  /* border: solid yellow .125rem; */
  position: relative;
  /* z-index: -1; */
}
.scheduleColumn:first-child,
.scheduleColumn:last-child {
  display: none; /* Hides the first and last columns (which are the 4px spaces) */
}
.lunchIndicator {
  margin: .5rem 0;
  padding: .25rem .5rem;
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  /* width: 100%; */
  /* font-size: .85rem; */
}
.yourScheduleLabel {
  font-size: 1rem;
  position: absolute;
  top: -28px;
  background-color: rgb(0, 98, 155);
  padding: 2px 4px;
}
.scheduleColumn {
  box-sizing: border-box;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 9;
  /* padding: .25rem; */
  /* border: solid yellow 2px; */
}
.activeColumn {
  position: relative;
  outline: solid white 4px;
  z-index: 9;
  /* filter: brightness(1.2); */
  /* box-shadow: 0 0 15px 0 rgb(255, 255, 255); */
  /* font-size: .85rem; */
}
.inactiveColumn {
  filter: brightness(.7);
  z-index: -1;
}
.eventWrapper {
  /* border: solid red 2px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  /* height: 100px; */
  /* border: solid 1px black; */
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0;
  margin: 0;
  /* outline: solid .125rem black; */
  /* border-top: solid black .125rem; */
  outline: solid black .125rem;
  z-index: -1;
}
.classEvent, .lunchEvent, .winEvent {
  height: 120px;
}
.classEvent {
background: linear-gradient(to right, #008ec7, #00578d);
color: white;
min-height: 80px;
}
.passingEvent {
background-color: rgb(167, 255, 167);
height: 6px;
border-radius: 0px;
padding: 0;
min-height: none !important;
font-size: .5rem;
}
.winEvent {
  background-color: rgb(250, 209, 127);
}
.lunchEvent {
background: none;
background-color: rgb(241, 76, 106);
/* background: linear-gradient(to right,#e74f59, #ff6a76); */
color: white;
}
.activeEvent {

}

.timeAndDurationWrapper {
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 0 0rem 0 0rem;
/* background-color: rgb(255, 132, 132); */
width: fit-content;
margin: 0 auto;
padding: .25rem .5rem;
}
/* .classEvent .timeAndDurationWrapper {
  background-color: rgb(0, 59, 83);
}
.passingEvent .timeAndDurationWrapper {
  background: transparent;
}
.lunchEvent .timeAndDurationWrapper {
  background-color: rgb(209, 26, 59);
} */
.lunchEvent .timeAndDurationWrapper {
  color: rgb(255, 255, 255);
}
.lunchEvent .duration {
  color: rgb(255, 255, 255);
}
.classEvent .duration {
  color: rgb(124, 251, 158);
}
.winEvent .timeAndDurationWrapper {
  /* background-color: rgb(203, 142, 0); */
}
.winEvent .duration {
  color: rgb(0, 0, 0);
}
.timeAndDuration {
margin: 0rem;
font-size: 1rem;
}
.startTime {
  margin-bottom: .25rem;
}
.duration {
font-size: 1rem;
color: rgb(253, 255, 129);
/* border-top: solid 1px rgb(132, 255, 196);
padding-top: .25rem; */
}
.eventContentWrapper {
position: relative;
font-size: 1.5rem;
font-weight: 400;
margin: 0;
padding: 0;
/* border: solid red 2px; */
width: 100%;
height: auto;
/* height: 100%; */
/* min-height: 80px; */
flex-grow: 1;
text-align: center;
}
.eventTitle {
  margin: .25rem;
  font-size: 1.25rem;

}
.classEvent .eventTitle {
}
.lunchEvent .eventTitle {
}
.prepPeriod {
position: absolute;
bottom: .5rem;
left: 50%;
transform: translateX(-50%);
font-size: 1rem;
background: none;
background-color: rgb(241, 76, 106);
color: rgb(255, 255, 255);
margin: 1rem 0;
padding: .25rem .5rem;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}
.passingEvent .eventTitle{
  font-size: .75rem;
  margin: 0;
}

@media (max-width: 768px) {
  .splitWrapper {
    padding-left: none;
    padding-right: none;
  }
  .lunchIndicator {
    font-size: .85rem;
  }

}

@media(max-width: 375px) {
  .splitWrapper {
    margin-top: 2.5rem;
  }
  .yourScheduleLabel {
    top: -50px;
  }
}