@font-face {
  font-family: 'Future';
  src: url('../public/fonts/FUTRFW.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Light.ttf') format('truetype');
  font-weight: 200; /* or 400 */
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal; /* or 400 */
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: bold; /* or 700 */
}

/* WEBKIT SCROLLBAR */

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
/* The track (progress bar) of the scrollbar */
::-webkit-scrollbar-track {
  background: #ffffff;
  background: rgba(0, 0, 0, 0);

}
/* The handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: rgb(255, 83, 83);
  padding-right: 2px;

}
/* The handle (thumb) when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background: #006a90;
}
/* FIREFOX ONLY */
@-moz-document url-prefix() {
  body {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 83, 83) rgba(0, 0, 0, 0);
  }
  .custom-scrollbar-element {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 83, 83) rgba(0, 0, 0, .5);
  }
}

.body {
  margin: 0;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(to bottom, #37c6ff, #0092ec); */
  background-image: url(../public/photos/gradient3small.webp);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Louis George Cafe;
  text-align: center;
  /* border: solid red 4px; */
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  /* overflow-y: auto; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding-bottom: 4rem; */
  /* border: solid red 2px; */
}
.pageContentWrapper {
    /* border: solid green 2px; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding-bottom: 2rem; */
    /* border-top: solid white 2px; */
}



/* --------------ARROW BUTTONS---------------- */

.arrowLeft, .arrowRight, .arrowLeftDisabled, .arrowRightDisabled {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 100px;
  /* transform: translate(0, -50%); */
  /* transition: transform 0.5s ease; */
  border-radius: 50%;
  padding: .5rem;
  z-index: 10;
}
.arrowLeft, .arrowRight {
  background-color: rgba(0, 90, 120, 1);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
}
.arrowLeft:hover, .arrowRight:hover {
  background-color: rgb(255, 84, 84);
  box-shadow:rgba(0, 0, 0, 0.7) 0 0 5px 0;
  border: solid rgb(255, 255, 255) 2px;
  cursor: pointer;
  transform: scale(1.2);
}
.arrowLeft, .arrowLeftDisabled {
  left: 19px;
}
.arrowRight, .arrowRightDisabled {
  right: 19px;
}
.arrowLeftDisabled, .arrowRightDisabled {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(136, 136, 136);
}

@media(max-width: 768px) {
  .app {
    background-image: url(../public/photos/gradient3smallVertical.webp);
  }
}