@font-face {
  font-family: 'Future';
  src: url('../public/fonts/FUTRFW.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Light.ttf') format('truetype');
  font-weight: 200; /* or 400 */
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal; /* or 400 */
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: bold; /* or 700 */
}

.body {
  margin: 0;
}

.app {
  /* background: linear-gradient(to bottom, #37c6ff, #0092ec); */
  background-image: url(../public/photos/gradient3small.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: linear-gradient(to bottom, #53afe9, #fafafa); */
  font-family: Louis George Cafe;
  text-align: center;
  letter-spacing: 0;
  overflow: hidden;
  /* border: solid red 4px; */
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
}
/* --------------ARROW BUTTONS---------------- */

.arrowLeft, .arrowRight, .arrowLeftDisabled, .arrowRightDisabled {
  height: 30px;
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  /* transform: translate(0, -50%); */
  /* transition: transform 0.5s ease; */
  border-radius: 50%;
  padding: .5rem;
  z-index: 10;
}
.arrowLeft, .arrowRight {
  background-color: rgba(0, 90, 120, 1);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
}
.arrowLeft:hover, .arrowRight:hover {
  background-color: rgb(255, 84, 84);
  box-shadow:rgba(0, 0, 0, 0.7) 0 0 5px 0;
  border: solid rgb(255, 255, 255) 2px;
  cursor: pointer;
  transform: scale(1.2);
}
.arrowLeft, .arrowLeftDisabled {
  left: 19px;
}
.arrowRight, .arrowRightDisabled {
  right: 19px;
}
.arrowLeftDisabled, .arrowRightDisabled {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(136, 136, 136);
}

@media(max-width: 768px) {
  .app {
    background-image: url(../public/photos/gradient3smallVertical.webp);
  }
}