.dailyScheduleWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0 10px;
    /* border: solid red 2px; */
}
.dayHeader {
  font-size: 2rem;
  margin: .5rem 0 2rem 0;
}

/* SELECT SCHEDULE TYPE STYLES */

.selectScheduleTypeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 3rem 0;
}
.scheduleOption {
  background-color: white;
  color: black;
  padding: .5rem 1rem;
  margin: 0 1px;
}
.scheduleOption:hover {
  cursor: pointer;
}
.yourScheduleOption {
  position: relative;
}
.fullScheduleOption {

}
/* .todosNotification {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -130px;
  font-weight: normal;
  background-color: rgb(255, 95, 95);
  color: white;
  padding: .25rem .5rem;
  font-size: 1rem;
  height: auto;
}
.todosNotification p {
  margin: 0;
} */
.activeOption {
  background-color: rgb(0, 94, 128);
  outline: solid 2px red;
  color: white;
  font-weight: bold;
}



/* .scheduleColumn {
  border: solid yellow 4px;
} */

/* EVENT BLOCKS */

.eventWrapper {
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    align-items: flex-start;
    width: 100%;
    height: auto;
    /* height: 100px; */
    /* border: solid 1px black; */
    margin: .25rem 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 0
}
.classEvent {
  background: linear-gradient(to right, #008ec7, #00578d);
  color: white;
}
.passingEvent {
  background-color: rgb(167, 255, 167);
  height: 25px;
  border-radius: 0px;
  align-items: center;

}
.winEvent {
  background-color: rgb(250, 209, 127);
  color: white;
}
.lunchEvent {
  background: none;
  background-color: rgb(241, 76, 106);
  /* background: linear-gradient(to right,#e74f59, #ff6a76); */
  color: white;
}
.activeEvent {

}
.classEvent, .winEvent, .lunchEvent {
  min-height: 100px;
}
.timeAndDurationWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0rem 0 0rem;
}
.timeAndDuration {
  margin: .25rem;
}
.startTime {

}
.duration {
  border-top: solid 1px rgb(132, 255, 196);
  padding-top: .25rem;
  font-size: 1rem;
  color: rgb(253, 255, 129);

}
.eventContentWrapper {
  position: relative;
  right: unset;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  /* border: solid red 2px; */
  width: 100%;
  text-align: center;
}
.passingEvent {
  align-items: center !important;
  height: 25px;
  padding: 0 .25rem;
}
.passingEvent .eventContentWrapper {
  height: 25px;
  padding: 0;
  display: flex;
  align-items: center;
  /* border: solid red 2px; */
}
.eventTitle {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  /* border: solid red 2px; */
  position: relative;
}
.passingEvent .eventTitle {
  padding: 0;
  margin: 0;
}
.eventTitle:not(.passingEvent .eventTitle) {
  margin: 0 0 1rem 0;
}
.prepPeriod {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -7rem;
  background: none;
  background-color: rgb(241, 76, 106);
  color: rgb(255, 255, 255);
  margin: 0 1rem;
  padding: .25rem .5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}
.winEvent .timeAndDurationWrapper, .winEvent .duration, .winEvent .eventTitle {
  color: black;
  border-color: black;
}
.passingEvent .eventTitle {
  font-size: 1rem;
}
.passingEvent .timeAndDurationWrapper {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passingEvent .duration, .passingEvent .timeAndDuration {
  color: black;
  padding: 0;
  /* border: solid red 2px; */
}






/* TODO RELATED STYLES */

.addTodoIcon {
  position: absolute;
  right: 0.5rem;
  top: .4rem;
  padding: .25rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  /* border: solid 1px rgb(182, 182, 182); */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  pointer-events: auto;
  z-index: 10;
}
.passingEvent .addTodoIcon {
  top: 50%;
  transform: translateY(-50%);
  margin-right: .15rem;
  padding: .25rem;
  font-size: .6rem;
  /* color: black; */
}
.todoListWrapper {
  position: relative;
  right: 0;
  /* background-color: rgba(0, 0, 0, .5); */
  width: calc(100% - 7rem);
  padding: .5rem 1.5rem;
  margin-left: 7rem;
}


@media(max-width: 768px) {
  .dailyScheduleWrapper {
    width: 100%;
    padding: 0;
  }
  .dayHeader {
    font-size: 1.5rem;
  }
  .dayWrapper {
    width: 98% !important;
    max-width: none;
  }
  .eventWrapper {
    width: 100%;
    padding: 5px;
    max-width: none;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
  }
  .passingEvent {
    align-items: center;
  }
  .eventContentWrapper {
    font-size: 1rem;
    /* border: solid red 2px; */
  }
  .eventTitle {
    font-size: 1.5rem;
  }
  .timeAndDurationWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
  }

  .passingEvent .timeAndDurationWrapper {
    height: 25px;
    justify-content: center;
  }
  .timeAndDuration {
    font-size: 1rem;

  }
  .startTime {
    margin: 2px;
    padding: 0;
  }
  .duration {
    margin: 0;
    padding: 0;
  }
  .prepPeriod {
    font-size: 1rem;
    right: -3.5rem;
    /* right: unset; */
    /* bottom: 0; */
    margin: 0;
  }
  .passingEvent .timeAndDurationWrapper, .passingEvent .duration {
    left: 0;
    margin-left: 0;
    width: 80px !important;

  }
  .todoListWrapper {
    margin-left: 0;
    width: 100%;
    padding: 4px;
  }
  .selectScheduleTypeWrapper {
    margin-bottom: 2rem;
  }
  .scheduleOption {
    font-size: 1.25rem;
    font-weight: 400;
    padding: .25rem .5rem;
  }
  .todosNotification {
    left: 50%;
    top: 130%;
    transform: translateX(-50%);
    width: 100%;
    font-size: .75rem;
  }
}
@media(max-width: 375px) {
  .eventContentWrapper {
    font-size: 1rem;
  }
  .eventTitle {
    font-size: 1.25rem;
  }
  .timeAndDuration {
    font-size: .75rem;
  }
  .prepPeriod {
    font-size: .75rem;
  }
  .passingEvent .timeAndDurationWrapper, .passingEvent .duration {
    width: 60px !important;
  }
  .todosNotification {
    font-size: .5rem;
  }
}